#toc-container {
  position: fixed;
  top: 60px;
  left: 5px;
  background: white;
  padding: 0.5em;
  border: 1px solid #ccc;
  height: auto;
  max-height: 90vh;
  overflow: auto;
  font-size: 0.9em;
  z-index: 9999;
}

.hide-toc #toc-container {
  opacity: 0;
  transform: scale(.7);
  transition: all .3s cubic-bezier(.74,-.05,.27,1.75);
  visibility: hidden;
}

#markdown-toc {
  padding: 5px;
  min-width: 185px;
  max-width: 185px;
  list-style-type: none;
}

#markdown-toc a {
  cursor: pointer;
  color: var(--primary-color);
  text-decoration: none;
  display: inline-block;
  white-space: break-spaces;
}

#markdown-toc a:hover {
  text-decoration: underline;
}

#markdown-cheat h3, 
#markdown-cheat h4 {
  margin-top: .5rem;
}

/* 
Add a margin for the TOC when enabled
*/
#editorcontainer { margin-left: 200px; } 
.hide-toc #editorcontainer { margin-left: initial; }

/* 
For hiding the regular Ace/Etherpad editor buttons.
TODO: We might be able to this through manipulating the settings instead 
*/
#editbar .menu_left [data-key="bold"],
#editbar .menu_left [data-key="italic"],
#editbar .menu_left [data-key="underline"],
#editbar .menu_left [data-key="strikethrough"],
#editbar .menu_left [data-key="bold"],
#editbar .menu_left [data-key="insertorderedlist"],
#editbar .menu_left [data-key="insertunorderedlist"],
#editbar .menu_left [data-key="indent"],
#editbar .menu_left [data-key="outdent"],
#editbar .menu_left [data-key="bold"] + li { 
  display: none !important;
}
