#toc-container {
  position: fixed;
  top: 60px;
  left: 5px;
  background: white;
  padding: 0.5em;
  border: 1px solid #ccc;
  height: auto;
  max-height: 90vh;
  overflow: auto;
  font-size: 0.9em;
  z-index: 9999;
}

#toc-container:not(.as-popup) {
  opacity: 0;
  transform: scale(.7);
  transition: all .3s cubic-bezier(.74,-.05,.27,1.75);
  visibility: hidden;
}

#markdown-toc {
  padding: 5px;
  min-width: 185px;
  max-width: 185px;
  list-style-type: none;
}

#markdown-toc a {
  cursor: pointer;
  color: var(--primary-color);
  text-decoration: none;
  display: inline-block;
  white-space: break-spaces;
}

#markdown-toc a:hover {
  text-decoration: underline;
}

.has-toc #editorcontainer { margin-left: 200px; } 

#editbar .menu_left [data-key="bold"] { display: none; }
#editbar .menu_left [data-key="italic"] { display: none; }
#editbar .menu_left [data-key="underline"] { display: none; }
#editbar .menu_left [data-key="strikethrough"] { display: none; }
#editbar .menu_left [data-key="bold"] { display: none; }
#editbar .menu_left [data-key="bold"] + li { display: none; }
#editbar .menu_left [data-key="insertorderedlist"] { display: none; }
#editbar .menu_left [data-key="insertunorderedlist"] { display: none; }

/* 
.panel {
  display: block;
  position: fixed;
  z-index: 1;
  width: 175px;
} */