<div id="markdown-cheat" class="popup toolbar-popup">
  <div class="popup-content">
    <h2>Markdown Cheatsheet</h2>
    <p>A quick reference for the most common Markdown formatting tags. Learn more: <a
        href="https://garrettgman.github.io/rmarkdown/authoring_pandoc_markdown.html" target="_blank">Pandoc Markdown
        Authoring Guide</a></p>
    </p>

    <div class="cheat-grid">
      <div class="cheat-block">
        <h3>Headings</h3>
        <ul class="cheat-lines">
          <li># Heading 1</li>
          <li>## Heading 2</li>
          <li>### Heading 3</li>
        </ul>
      </div>

      <div class="cheat-block">
        <h3>Styling</h3>
        <ul class="cheat-lines">
          <li>**bold**</li>
          <li>*italic*</li>
          <li>~~strikethrough~~</li>
          <li>`inline code`</li>
        </ul>
      </div>

      <div class="cheat-block">
        <h3>Spacing</h3>
        <ul class="cheat-lines">
          <li>A line containing a row of three or more *, -, or _ characters (optionally separated by spaces) produces a horizontal rule: <br>
*  *  *  *<br>
---------------<br>
It is strongly recommended that horizontal rules be separated from surrounding text by blank lines. </li>
          <li>Line break: end a line with two trailing spaces␠␠</li>
          <li>Line break: end a line with backslash \</li>
        </ul>
      </div>

      <div class="cheat-block">
        <h3>Lists</h3>
        <ul class="cheat-lines">
          <li>- Unordered item</li>
          <li>1. Ordered item</li>
        </ul>
      </div>

      <div class="cheat-block">
        <h3>Links & Images</h3>
        <ul class="cheat-lines">
          <li>[link text](https://example.com)</li>
          <li>![alt](img.jpg)</li>
          <li>![alt](img.jpg){.class}</li>
        </ul>
      </div>

      <div class="cheat-block">
        <h3>Footnotes</h3>
        <ul class="cheat-lines">
          <li>You can use inline footnotes: ^[All content here will be a footnote.]</li>
          <li>Note: support for two-part Pandoc-style footnotes is sketchy.</li>
        </ul>
      </div>

      <div class="cheat-block">
        <h3>Blocks (Pandoc)</h3>
        <ul class="cheat-lines">
          <li>::: intro</li>
          <li>This is the intro block.</li>
          <li>:::</li>
          <li>::: main</li>
          <li>This is the main block.</li>
          <li>:::</li>
        </ul>
      </div>
    </div>
  </div>
</div>
