<div id="markdown-cheat" class="popup toolbar-popup">
  <div class="popup-content">
    <h2>Markdown Cheatsheet</h2>
    <p>A quick reference for the most common Markdown formatting tags. Learn more: <a href="https://garrettgman.github.io/rmarkdown/authoring_pandoc_markdown.html" target="_blank">Pandoc Markdown Authoring Guide</a></p>
    </p>
        <pre><code># Heading 1  
## Heading 2  
### Heading 3

For a paragraph break, follow a line by two or more spaces.

**bold**  
*italic*  
~~strikethrough~~

- Unordered list  
1. Ordered list

[link](https://example.com)  
![alt](img.jpg)
![alt](img.jpg){.class}

`inline code`  

```
code block
```

> blockquote

--- (horizontal rule)

::: intro  
This is the intro block.  
:::

::: main  
This is the main block.  
:::
</code></pre>
    </div>
</div>