<fieldset>
    <legend>MD TOC Settings</legend>
    <p>
        <input type="checkbox" id="options-tocpopup" />
        <label for="options-tocpopup" aria-label="Show TOC">Show TOC</label>
    </p>
</fieldset>