<fieldset>
    <legend>MD TOC Settings</legend>
    <p>
        <input type="checkbox" id="options-hideToc" />
        <label for="options-hideToc" aria-label="Hide TOC">Hide TOC</label>
    </p>

    <p>
        <input type="checkbox" id="options-hideButtons" />
        <label for="options-hideButtons" aria-label="Hide text styling buttons">Hide text styling buttons</label>
    </p>

    <p>
        <input type="checkbox" id="options-styleHeadings" />
        <label for="options-styleHeadings" aria-label="Enable/Disable styling of the markdown headings">Style Markdown headings</label>
    </p>
</fieldset>