<fieldset>
    <legend>MD TOC Settings</legend>
    <p>
        <input type="checkbox" id="options-hideToc" />
        <label for="options-hideToc" aria-label="Hide TOC">Hide TOC</label>
    </p>
    
    <p>
        <input type="checkbox" id="options-styleHeadings" />
        <label for="options-styleHeadings" aria-label="Enable/Disable styling of the markdown headings">Style Markdown headings</label>
    </p>

    <p>
        <input type="checkbox" id="options-plainPaste" />
        <label for="options-plainPaste" aria-label="Force plain-text paste">Force plain-text paste</label>
    </p>
</fieldset>
