<fieldset>
    <legend>MD TOC Settings</legend>
    <p>
        <input type="checkbox" id="options-tocpopup" />
        <label for="options-tocpopup" aria-label="Show TOC">Show TOC</label>
    </p>

    <p>
        <input type="checkbox" id="options-hideButtons" />
        <label for="options-hideButtons" aria-label="Hide text styling buttons">Hide text styling buttons</label>
    </p>
</fieldset>