<li data-key="ep_markdown_toc-toggle" data-type="button">
  <a id="ep_markdown_toc-a" title="Toggle TOC">
    <button id="markdown-toc-toggle" class="buttonicon buttonicon-insertunorderedlist" title="Toggle TOC"></button>
  </a>
</li>
<li class="separator"></li>
